@charset "UTF-8";

html {
    font-size: 100%
}

 body{
   margin: 0;
   background: #472f91;
   font-family:
  "Yu Gothic Medium",
  "Yu Gothic",
  "Hiragino Kaku Gothic Pro",
   sans-serif;


    

  background: #472f91;
 }

 a{
    text-decoration : none;

 }

 img{
    max-width: 100%;
 }

 

.page-header {
  background: #472f91;
  padding: 0 40px ;
  border-bottom: 5px solid #fff200;
  margin-bottom: 0px;
  line-height: 1.7;
  
  height: 110px;
}

.header-inner {
  
    display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 100%;
  gap: 16px;
    overflow: hidden;

}


.logo img {
 
  
    height: 95px;
  width: auto;
  display: block;
transform: translateY(2px);
opacity:0;
animation: fade1 2s ease forwards;
animation-delay:0.5s;
}

@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}


.language {

  
  position: static;
  justify-self: center;
  text-align: center;
  width: auto;               /* ← ここを auto に戻す */
  margin: 0;

}

.language-title {
 
    font-size: 14px;
  letter-spacing: 4px;
  margin: 0 0 4px 0;        /* 下余白を小さく */
  color: #fff200;
  opacity:0;
  animation: fade1 2s ease forwards;
  animation-delay:1s;
}

@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}



.language-buttons {

    display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;

}

.lang-btn-jp {
  width: 160px;
  font-size: 20px;
  border: 2px solid #fff200;
  background: transparent;
  color: #fff200;
  font-weight: bold;
  cursor: pointer;
  min-width: 0;   
  text-decoration: none;
  opacity:0;
  animation: fade1 2s ease forwards;
  animation-delay:2s;
}

@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}


.lang-btn-en {
  width: 160px;
  font-size: 20px;
  background: #fff200;
  color: #472f91;
  font-weight: bold;
  cursor: pointer;
  min-width: 0;   
  text-decoration: none;
  opacity:0;
  animation: fade1 2s ease forwards;
  animation-delay:1.5s;
}

@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}
 

.nav ul {

    display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;

}

.nav a {

  
    text-decoration: none;
  color: #fff200;
  font-weight: bold;
  letter-spacing: 3px;


}

.nav {
  justify-self: end;
   align-self: center;
  margin-top: 0;
  position: relative;
  display: inline-block;
}

.main-nav li{
  position: relative;
  display: inline-block;
  
}

.fade1{
 opacity:0;
  animation: fade1 2s ease forwards;
  animation-delay:2.5s;
}
@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade2{
 opacity:0;
  animation: fade1 2s ease forwards;
  animation-delay:3.0s;
}
@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}


.fade3{
 opacity:0;
  animation: fade1 2s ease forwards;
  animation-delay:3.5s;
}
@keyframes fade1{
  from { opacity: 0; }
  to   { opacity: 1; }
}
 


.main-nav li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #fff200;
  transition: width 0.3s ease;
}

.main-nav li:hover::after{
  width: 100%;
}

.who{
  
  margin-top: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 100%;
   
}


.who-am-i{


   font-size: 10rem;
   color: #fff200;
   font-family: 'Philosopher', serif;
   text-transform : uppercase;
   font-weight: bold;
   line-height: 1.2;

   opacity: 0;
  animation: instant 1s linear forwards;
  animation-delay: 4.2s;
   
}



.Am-I{

   font-size: 1.5rem;
   margin: 20px 0 42px;
   
   color: #fff56c;

   opacity: 0;
  animation: instant2 1s linear forwards;
  animation-delay: 4.8s;
}

@keyframes instant{
  to{
    opacity: 0.9;
  }
}

@keyframes instant2{
  to{
    opacity: 0.7;
  }
}



.main-visual{
  position: relative;

  background-image:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(../images/myphoto2.jpg);

  background-size: cover;
  background-position: center;
  min-height: 100vh;
  border-bottom: 5px solid #fff200;
}

.timeline{
  padding: 60px 20px 20px 20px;

  border-bottom: 5px solid #fff200;
}

.timeline-row{
  display: flex;
  align-items: flex-start;
  gap: 60x;
  margin-left: 90px;
  flex-wrap: wrap;
  
}

.timeline-img{
  display: block;
  max-width: 100%;
  height: auto;

   
}

.timeline-img.left{
  width: 520px;
  opacity: 0;
  transform: translateY(-200px);
  animation: fadeDown 3s ease forwards;
  animation-delay:8s;
}

.timeline-img.right{
  width: 610px;
   margin-left: auto;
    margin-top: -92px;

    opacity: 0;
  transform: translateY(-170px);
  animation: fadeDown 5s ease forwards;
  animation-delay: 9s;

 
}

@media (max-width: 900px){
  .timeline-row{
    gap: 24px;
    margin-left: 12px;
  }

  .timeline-img.left,
  .timeline-img.right{
    width: 90vw;
    max-width: 520px;
  }
}



@keyframes fadeDown{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.detail-button{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 70px;
}

.btn-detail{

  font-size: 40px;

  display: inline-block;
  padding: 20px 150px;
  background: #fff200;
  color: #472f91;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s;

 
  animation: pulse 1s ease-in-out infinite;
  
}

@keyframes pulse{
  0%,100%{ transform: scale(1); }
  50%{ transform: scale(1.05); }
}

.btn-detail:hover{
  opacity: 0.7;
}





